profiles {

  singularity {
    singularity.enabled = true
    process.container = 'oncornalab/dmas:latest'
  }

  local {
    docker.enabled = false
    process.container = 'oncornalab/dmas:latest'
    params.input = "$baseDir/Input_file.txt"

  }

  standard {
    docker.enabled = true
    process.container = 'arneblom/dmas'
    
    params.input = "$projectDir/Input_file.txt"
    params.outdir = "$projectDir/Output"
    params.help = false

    parmas.cpus = 3

    params.coords = true
    params.species = "human"
    parmas.index_bowtie = "$projectDir/Assets/GRCh38/Index_bowtie"
    params.index_bowtie_name = "GRCh38_noalt_as"

    params.primer_settings = "$projectDir/Assets/GRCh38/Primer3_settings.txt"
    params.snp_url = 'http://hgdownload.soe.ucsc.edu/gbdb/hg38/snp/dbSnp155Common.bb'
    params.primer3_diff = 1
    params.primer3_nr = 20
    params.min_left_prime = 1
    params.diff_tm = 2
    params.min_tm = 58
    params.max_tm = 62
    params.opt_tm = 59
    params.min_gc = 30
    params.opt_gc = 50
    params.max_gc = 80
    params.amp_min = 50
    params.amp_max = 150
    params.mis_lib = "$projectDir/Assets/GRCh38/humrep_and_simple.txt"
    params.max_mis_lib = 12

    params.dnac = 250
    params.na = 50
    params.k = 0
    params.tris =75 
    parmas.mg = 3 
    parmas.dNTPs = 1.2
    parmas.position = "all"
    params.single_MM_Tm = 55

    params.snp_filter = 'loose'
    params.spec_filter = 'loose'
    params.sec_str_filter = 'loose'
    params.validation_filter = 'loose'
  }

  nf_runner {
    docker.enabled = false
  }
}

